.body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #BAE1E8;
}


h1{
	font-size: 2em;
	text-align: center;
}


#board
{
	min-height:100px;
	display: inline-block;
}

#title
{	margin-left: -16px;
	border: 2px solid #999;
	background-color:#f7f5f5;
	text-align:center;
	color:black;
	padding: 10px 20px;
	width: 111%;
}

#task_title{	
	text-align:center;
	margin-top: 0.8%;
	margin-left: -2%;
}

#descripcion{
	text-align: left;
	margin-left: 2%;	
}

#eliminar{
	float: right;
	margin-right: 2%;
	margin-top: -0.5%;
}

.glyphicon:hover {
	text-decoration: none;
	color: #C60000;
}

#nueva, #en_progreso, #terminada, #verificada
{
	/*background-color: tan;*/
	background-color: #f7f5f5;
	display: inline-block;	
	min-height: 600px;
	border: 1px solid #999;
}

*[draggable=true]
{
	float: left;
	min-width: 50px;
	min-height: 50px;
	border: 1px solid #CCC;
	margin: 10px;
	margin-top: 15px;
	font-weight: bold;
	min-height: 60px;
	/*background-image: -webkit-gradient(linear,
             left top, left bottom,
color-stop(0.63, white),
             color-stop(0.92, rgb(5,161,245)));
                    background-image:-moz-linear-gradient(
                        center top,
                        white 63%,
                        rgb(5,161,245) 92%
                    );
				*/
			/*para Firefox*/
	-moz-border-radius: 15px 15px 15px 15px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 15px 15px 15px 15px;
	/* para Opera */
	border-radius: 15px 15px 15px 15px;
	-webkit-background-size: 1px 8px;
	-moz-background-size: 1px 8px;
	background-size: 1px 8px;
	background-repeat: repeat;
	width: 90%;
	background-color:#FFF;
}

.cardTitle
{
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#CCC;
	font-size:12px;
	
/*background-color: rgb(255,255,255);
border:2px solid white;
*/}
.create{

	width: 80%;
	background: #9CEBDD;
}
.email{
	font-size: 1.4em;

}
.frmcreate{
	width: 35%;
	text-align: center;
	background: #EBEBEB;
	border-radius: 5%;
	margin-left: 30%;
}

.frmlogin{
	width: 35%;
	text-align: center;
	background: #EBEBEB;
	border-radius: 5%;
	margin-left: 30%;

}
.login{
	text-align: center;
	background: #D7F9AF;
	width: 30%;
	margin-left: 40%;
}
.password{
	width:17%;
	margin-left: 23.5%;
	height: 2%;
	font-size: 1.4em;
}
.title{
	width: 100%;
	background: #3688C4;
	border-radius: 5%;
	color: #FFFFFF;
	font-size: 1.9em;

}
.registrarse{ 
	margin-left: 20%;
	font-size: 1.4em;
	color: #080303;
	margin-top: -7%;
}
.submit{
	margin-left: -25%;

}
.menu{
	margin-left: 90%;
	
}
.btnlogout{
	background: #FBFBFB;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
